@using Microsoft.AspNetCore.Components.Web
@namespace LebWeb.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="LebWeb.styles.css" rel="stylesheet" />

    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" />*@
    <link rel="stylesheet" type="text/css" href="css/datatables/jquery.datatables.min.css" />
    
    
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" />*@
    <link rel="stylesheet" type="text/css" href="css/datatables/buttons.dataTables.min.css" />

    <link href="fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->


    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />

</head>
<body>
    @RenderBody()
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script type="text/javascript" src="js/jquery/jquery-3.6.0.min.js"></script>
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>*@
    <script type="text/javascript" src="js/jszip.min.js"></script>

    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>*@
    <script type="text/javascript" src="js/pdfmake/pdfmake.min.js"></script>

    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>*@
    <script type="text/javascript" src="js/pdfmake/vfs_fonts.js"></script>

    @*<script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>*@
    <script type="text/javascript" src="js/datatables/datatables.min.js"></script>

    @*<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>*@
    <script type="text/javascript" src="js/datatables/dataTables.buttons.min.js"></script>

    @*<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>*@
    <script type="text/javascript" src="js/datatables/buttons.html5.min.js"></script>

    @*<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>*@
    <script type="text/javascript" src="js/datatables/buttons.print.min.js"></script>
    
    <script type="text/javascript" src="js/datatables/datatable.js"></script>

    @*<script defer src="fontawesome/js/all.js"></script> <!--load all styles -->*@

    <script src="_framework/blazor.server.js"></script>
</body>
</html>