@page "/"
@using LebWeb.wwwroot
<PageTitle>Index</PageTitle>


<h1 class="text-center pt-5" style="color:steelblue;"><strong>Hello, Welcome To LebWeb!&nbsp;</strong></h1>
<br />

<div class="border border-light p-3 mb-4 h-100">

    <div class="d-flex align-items-center justify-content-center h-100" >
        <img src="digital_display_images/emerson-logo.png" style="height:100px;" />

        
    </div>
    <div class="d-flex align-items-center p-3 mb-4 justify-content-center">
         <p>&nbsp;&nbsp;This site is the property of Emerson and may be accessed only by Emerson
            Employees or authorized persons. By entering your approved credentials, you acknowledge all applicable policies and procedures.
   
        </p>
    </div>
   
</div>


